.active_link {
    // display: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin: 20px 0;

    .navigation {
        display: flex;
        justify-content: flex-end;
        .nav_link {
            padding: 20px;
            display: inline-block;
        }
    }

    .action_link {
    }
}